.setting-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.sub-navigation {
  width: 119px;
  height: 100%;
  background-color: var(--panther-bg);
  border-right: 1px solid var(--shark-bg);
}

.active-tab {
  width: calc(100% - 119px);
  height: 100%;
  background-color: var(--panther-bg);
}

.sub-navigation .title {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-text);
  padding: 10px 10px;
  font-size: 11pt;
}

.active-tab-container {
    overflow-y: auto;
    height: 100%;
}

/* -------------------- DATATABLE -------------------- */

thead > tr > th {
  padding-left: 10px !important;
}
