<div style="position:relative">
    <div class="asa-dropdown" dropdown [ngClass]="{'is-invalid': isTouch && invalid}">
        <div id="button-basic" dropdownToggle class="dropdown-toggle" aria-controls="dropdown-basic">
        {{selectedItem.name}} <span class="caret"></span>
        </div>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic" malihu-scrollbar [scrollbarOptions]="scrollbarOptions">
            <li [ngClass]="{'active' : item.key === selectedItem.key}" (click)="select(item, i)" role="menuitem" *ngFor="let item of data; index as i">{{item.name}}</li>
        </ul>
    </div>
</div>
